{% extends "tracker/base.html" %}

{% block title %}Categories{% endblock %}

{% block content %}
    <h2>Categories</h2>

    <p><a href="{% url 'category-add' %}">➕ Add Category</a></p>

    {% if categories %}
        <ul>
            {% for c in categories %}
                <li>
                    {{ c.name }}
                    [<a href="{% url 'category-edit' c.pk %}">✏️ Edit</a> |
                     <a href="{% url 'category-delete' c.pk %}">🗑 Delete</a>]
                </li>
            {% endfor %}
        </ul>

        
        {% else %}
        <p>No categories yet. <a href="{% url 'category-add' %}">Add one</a></p>
        {% endif %}

    <!-- pagination -->
    {% include "tracker/_pagination_controls.html" %} 
    
{% endblock %}
        